/* Variables */
// Colors
$smoky: #5f5070;
$graynurse: #e1e7df;
$apricot: #f18c6a;
$cascade: #90aaaf;
$fallgreen: #e9e7bf;
$lightergray: #555860;
$darkergray: #3F424A;

// Typeface
$museo: "museo-sans", sans-serif;
$adelle: "adelle", serif;